@mixin gift-card-widget-gift-card-payment-summary($name: '.gift-card-payment-summary') {
    #{$name} {
        &__list-item {
            font: fw(regular) rem(14) $setting-font-family;
            margin: rem(24) 0;
        }

        &__myworld_e_payment {
            font-size: 0.9375rem;
            color: #909090;
        }

        @content;
    }

}

@include gift-card-widget-gift-card-payment-summary();
