{% extends molecule('availability-product', '@SprykerShop:AvailabilityWidget') %}

{% block body %}
    <h4 class="title title--h4 spacing-bottom text-break">{{ 'cart.item_quantity' | trans }}</h4>
    <span class="text-alt js-volume-price__quantity">{{ 'product.detail.out_of_stock' | trans }}</span>
{% endblock %}
