@mixin shop-ui-logo ($name: '.logo') {
    #{$name} {
        padding: 0;

        &__svg {
            @include helper-breakpoint-media-max($sm-max) {
                transform: scale(0.7);
            }

            @include helper-breakpoint-media-between($md-min, $md-max) {
                margin-left: rem(15);
            }
        }

        &--checkout {
            @include helper-breakpoint-media-max($sm-max) {
                padding: rem(22) rem(13);
            }
        }
    }
}

@include shop-ui-logo();
