@mixin shop-ui-logo($name: '.logo') {
    #{$name} {
        &__svg {
            margin-left: rem(5);
            max-width: rem(120);

            @include helper-breakpoint-media-min($md-min) {
                max-width: unset;
                margin-left: rem(15);
            }

            @include helper-breakpoint-media-min($xl-min) {
                margin-left: 0;
            }
        }

        &--checkout {
            #{$name}__svg {
                margin-left: 0;
            }
        }
    }
}

@include shop-ui-logo();
