<div style="display: none" id="productAttributesJson">
    {{ productAttributesJson }}
</div>
{% if productHiddenAttributesJson is defined %}
<div style="display: none" id="productHiddenAttributesJson">
    {{ productHiddenAttributesJson }}
</div>
{% endif %}
<div style="display: none" id="metaAttributesJson">
    {{ metaAttributesJson }}
</div>
<div style="display: none" id="localesJson">
    {{ localesJson }}
</div>
