@mixin shop-ui-money-price($name: '.money-price') {
    #{$name} {
        &__amount {
            font-size: rem(24);

            &--original {
                text-decoration: line-through;
                font-size: rem(24);
                color: $setting-color-gray-4;
                min-height: rem(18);
            }
        }

        &__mode {
            font-weight: fw(regular);
        }

        &--align-right {
            @include helper-breakpoint-media-min($md-min) {
                text-align: right;
            }
        }

        .product-benefit-price__second > span:nth-child(1) > span:nth-child(1) {
            font-size: rem(16);
        }

        &--bold {
            font-weight: fw(bold);
        }

        &--medium-size {
            font-size: rem(17);
        }

        &--original-inline & {
            &__amount {
                &--original {
                    min-height: 0;
                }
            }
        }

        &--strikethrough & {
            &__amount {
                text-decoration: line-through;
                color: $setting-color-black;
                font-size: rem(24);
            }
        }

        &--strikethrough-shopping & {
            &__amount {
                text-decoration: line-through;
                color: $setting-color-black;
                font-size: rem(24);
            }
        }

        .money-price .money-price--pdp {
            font-size: rem(16);
        }
    }
}

@include shop-ui-money-price();

.money-price-modifier {
    font-size: 0.875rem;
    display: block;
    color: #bbbbbb;
    text-decoration: line-through;
}
