@mixin product-detail-page-product-configurator($name: '.product-configurator') {
    #{$name} {
        hr {
            border-bottom: rem(1) solid $setting-color-gray-3;
            margin: rem(35) 0;
        }

        &__button-wrap {
            border-top: 0;
            padding: rem(40) 0 rem(10);

            @include helper-breakpoint-media-min($xl-min) {
                padding-top: rem(30);
            }
        }

        .chashback-sp-info {
            color: $setting-color-gray-4;
            display: flex;
            align-items: center;

            &__text {
                padding: rem(2) rem(4) 0 0;
            }
        }

        .product-meta {
            a {
                text-decoration: underline;
            }

            &__source {
                margin-bottom: rem(18);
            }

            &__condition {
                margin-bottom: rem(30);
            }
        }

        form {
            max-width: rem(360);

            .toggler-item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__title,
                &__content--option {
                    padding: 0;
                }
            }
        }

        @content;
    }
}

@include product-detail-page-product-configurator();
