@mixin product-detail-page-product-configurator($name: '.product-configurator') {
    #{$name} {
        &__button-wrap {
            border-top: rem(1) dotted $setting-color-gray-3;
            padding: rem(40) 0 rem(10);

            @include helper-breakpoint-media-min($xl-min) {
                padding-top: rem(30);
            }
        }

        .chashback-sp-info {
            color: $setting-color-gray-4;
            display: flex;
            align-items: center;

            &__text {
                padding: rem(2) rem(4) 0 0;
            }
        }

        .product-meta {
            a {
                text-decoration: underline;
            }

            &__source {
                margin-bottom: rem(18);
            }

            &__condition {
                margin-bottom: rem(30);
            }
        }

        @content;
    }
}

@include product-detail-page-product-configurator();
