@mixin catalog-page-view-mode-switch($name: '.view-mode-switch') {
    #{$name} {
        &__link {
            @include helper-effect-transition(color);
            color: $setting-color-gray-3;
            margin-left: rem(10);

            &:hover,
            &--active {
                color: $setting-color-main;
                text-decoration: none;
            }
        }

        @content;
    }
}

@include catalog-page-view-mode-switch();
