{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    backUrl: _view.previousStepUrl,
    title: 'checkout.step.benefit_deal.title' | trans
} %}

{% block content %}
    <h2 class="title title--primary grid grid--middle grid--justify">
        <div class="col">
            {{ 'checkout.step.benefit_deal.title' | trans }}
        </div>

        <div class="col">
            {% include molecule('customer-balance') with {
                class: 'text-right',
                data: {
                    shoppingPointBalance: _view.customerBalance.shoppingPointBalance,
                    benefitVouchersCurrencyCode: _view.customerBalance.benefitVouchersCurrencyCode,
                    benefitVouchersBalance: _view.customerBalance.benefitVouchersBalance,
                },
            } only %}
        </div>
    </h2>

    <div class="row">
        {% embed molecule('form') with {
                modifiers: ['checkout-actions', 'checkout-form-elements'],
                data: {
                    form: _view.benefit_deal_collection_form,
                    benefitVouchersCurrencyCode: _view.customerBalance.benefitVouchersCurrencyCode,
                    submit: {
                        enable: true,
                        text: 'checkout.step.payment' | trans,
                        class: 'form__action--checkout button  button--large button--expand  js-payment-form__submit',
                    },
                    cancel: {
                        enable: true,
                        url: data.backUrl,
                        text: 'general.back.button' | trans,
                        class: 'form__action--checkout button button--hollow button--expand',
                    },
                },
            } only %}
                {% block fieldset %}
                    <div>
                        {% for key, item in data.form.benefitItems %}
                            {% include molecule('benefit-product-item', 'CheckoutPage') with {
                                data: {
                                    item: item,
                                    formType: item.children | keys | first,
                                    product: item.vars.value,
                                    benefitVouchersCurrencyCode: data.benefitVouchersCurrencyCode,
                                },
                            } only %}
                        {% endfor %}
                    </div>

                    <div class="page-layout-cart__col page-layout-cart__col--sidebar">
                        <h3>{{ 'cart.title_sidebar' | trans }}</h3>
                        {% include molecule('benefit-deal-summary', 'BenefitDeal') with {
                            data: {
                                cart: _view.quoteTransfer,
                                isQuoteValid: true,
                                isQuoteEditable: false,
                                form: data.form,
                            },
                        } only %}
                    </div>
                {% endblock %}
            {% endembed %}
    </div>
{% endblock %}
