@include shop-ui-cart-counter() {
    &--mobile {
        position: relative;
    }

    &__link {
        @include helper-effect-transition(color);
    }

    &__quantity {
        position: absolute;
        top: 0;
        right: 0;
        min-width: rem(18);
        height: rem(18);
        font-size: rem(12);
        line-height: rem(18);
    }
}
