@mixin shop-ui-node($name: '.node') {
    #{$name} {
        &__link {
            &--footer {
                @include helper-effect-transition(color);
                color: $setting-color-gray-5;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        &--product-set {
            color: $setting-color-black;
            font: fw(light) rem(14)/rem(20) $setting-font-family;
            margin-bottom: rem(24);

            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: rem(48);
                font-size: rem(18);
                line-height: rem(24);
            }
        }

        @content;
    }
}

@include shop-ui-node();
