@mixin shop-ui-product-item-variant-selector($name: '.product-item-variant-selector') {
    #{$name} {
        &__label {
            display: block;
            margin-bottom: rem(5);

            @include helper-breakpoint-media-min($lg-min) {
                margin-bottom: rem(15);
            }
        }

        &__title {
            font: fw(regular) rem(13)/rem(17) $setting-font-family;
        }
    }
}

@include shop-ui-product-item-variant-selector();
