@mixin product-image-widget-image-gallery-thumbnail($name: '.image-gallery-thumbnail') {
    #{$name} {
        width: 100%;
        margin-bottom: rem(50);

        @include helper-breakpoint-media-min($lg-min) {
            position: absolute !important;
            bottom: rem(10);
            left: 50%;
            transform: translateX(-50%);
            z-index: $setting-zi-element + 1;
            max-width: rem(315);
            height: rem(47);
            margin-bottom: 0;

            &:not(.slick-initialized) #{$name}__item {
                margin: 0 rem(16);
            }
        }

        @include helper-breakpoint-media-min($xl-min) {
            bottom: rem(20);
        }

        &__item {
            display: flex !important;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: rem(1);
            position: relative;
            height: rem(280);
            background-color: $setting-color-white;
            margin: 0;
            cursor: default;
            border: rem(1) solid $setting-color-gray-3;
            border-radius: rem(10);

            @include helper-breakpoint-media-max($md-max) {
                &:not(:first-child) {
                    display: none !important;
                }
            }

            @include helper-breakpoint-media-min($lg-min) {
                width: rem(46) !important;
                height: rem(46);
                margin: 0 rem(8);
                cursor: pointer;
                border-radius: 0;
            }

            &--active {
                padding: 0;

                #{$name}__img {
                    opacity: 1;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $setting-color-alpha-2;
                z-index: $setting-zi-element-floating;
            }
        }

        &__img {
            max-height: rem(250);
            opacity: 1;
            display: flex;
            align-items: center;

            @include helper-breakpoint-media-min($lg-min) {
                opacity: 0.25;
                max-height: 100%;
            }
        }

        &__prev,
        &__next {
            position: absolute;
            top: rem(8);
            cursor: pointer;
            width: rem(30);
            height: rem(30);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__next {
            right: rem(-30);
        }

        &__prev {
            left: rem(-30);
            transform: rotate(180deg);
        }

        .slick-list,
        .slick-track {
            height: auto !important;
        }

        .slick-track {
            display: flex;
        }

        .slick-slide {
            border: none;
            height: auto;
        }

        .slick-dots {
            position: absolute;
            bottom: rem(-32);
            width: 100%;
            display: flex;
            justify-content: center;

            li {
                margin: 0 rem(4);
                font-size: 0;
                border: rem(1) solid $setting-color-transparent;
                padding: rem(1);
                border-radius: 100%;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: rem(4);
                    height: rem(4);
                    border-radius: 50%;
                    background-color: $setting-color-gray-3;
                }
            }

            button {
                width: rem(4);
                height: rem(4);
                font: 0/0 $setting-font-family;
                opacity: 0;
            }

            .slick-active {
                border-color: $setting-color-alt;

                &::before {
                    background-color: $setting-color-transparent;
                }
            }
        }

        .slick-disabled {
            cursor: default;
            pointer-events: none;

            .icon {
                color: $setting-color-black;
            }
        }
    }
}

@include product-image-widget-image-gallery-thumbnail();
