$product-item-border-radius: rem(10);

@mixin shop-ui-product-item($name: '.product-item') {
    #{$name} {
        position: relative;

        &__image-wrap {
            margin: rem(28) rem(17);
            position: relative;
            overflow: hidden;
        }

        &__container {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
            color: $setting-color-black;
            border: rem(1) solid $setting-color-gray-2;
            border-radius: $product-item-border-radius;
            box-shadow: 0 7px 40px 0 $setting-color-alpha-2;

            &--title-top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        }

        &__actions-container {
            position: absolute;
            bottom: rem(8);
            left: rem(8);
            right: rem(8);
            margin: auto;
        }

        &__info {
            margin: 0 rem(16);
        }

        &__name {
            font: fw(medium) rem(14)/1.5 $setting-font-family;
            color: $setting-color-black;
            margin-bottom: rem(3);
            height: rem(42);
            overflow: hidden;
            text-overflow: ellipsis;
            /* stylelint-disable */
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            /* stylelint-enable */

            &:hover {
                color: $setting-color-main;
                text-decoration: none;
            }
        }

        &__price {
            color: $setting-color-main;
            font-weight: fw(medium);
            font-size: rem(15);
            margin-bottom: rem(10);
        }

        &__footer {
            background: $setting-color-gray-1;
            color: $setting-color-gray-5;
            padding: rem(12) rem(16);
            font-size: rem(14);
            line-height: 1.2;
            border-bottom-left-radius: $product-item-border-radius;
            border-bottom-right-radius: $product-item-border-radius;
            margin-top: auto;
        }

        &--with-spaces {
            padding: 0 map-get($setting-grid-gutter, sm) / 2 map-get($setting-grid-gutter, sm) * 2;

            @include helper-breakpoint-media-min($md-min) {
                padding: 0 map-get($setting-grid-gutter, md) / 2 map-get($setting-grid-gutter, md) * 2;
            }
        }

        &--with-bottom-spaces {
            padding-bottom: map-get($setting-grid-gutter, sm) * 2;

            @include helper-breakpoint-media-min($md-min) {
                padding-bottom: map-get($setting-grid-gutter, md) * 2;
            }
        }

        &--stretch {
            height: 100%;
        }

        &--slider {
            display: inline-block;
            width: 25%;
        }

        &--product-set {
            #{$name}__overlay {
                padding-top: rem(20);
                padding-bottom: rem(20);

                @include helper-breakpoint-media-min($md-min) {
                    padding-top: rem(90);
                    padding-bottom: rem(120);
                }
            }

            #{$name}__info {
                min-height: rem(48);
            }
        }

        &--widget {
            &:not(:first-child) {
                display: none;
            }
        }

        &--cms {
            align-self: stretch;
            padding-bottom: rem(64);
            margin-bottom: rem(32);

            #{$name}__actions-container {
                padding: 0 rem(7);
            }
        }

        &--promotional {
            display: flex;

            #{$name}__container {
                display: flex;
                align-items: center;
                width: 100%;
            }

            #{$name}__image-wrap {
                width: rem(120);
                margin: 0;
                padding: rem(12) rem(15);
                flex-shrink: 0;
            }

            #{$name}__info {
                margin: 0 0 rem(5);
            }

            #{$name}__overlay {
                padding: 0;
            }
        }

        @content;
    }
}

@include shop-ui-product-item();
