@mixin shop-ui-cashback($name: '.cashback') {
    #{$name} {
        display: flex;
        align-items: center;
        font-size: rem(16);
        line-height: 1.2;
        color: $setting-color-gray-5;

        &__icon {
            margin-left: rem(4);
        }

        &--small {
            font-size: rem(14);
        }

        &--alternative {
            @include helper-font-size(small);
            @include helper-font-weight(bold);
            color: $setting-color-cashback;
        }

        &--align-right {
            @include helper-breakpoint(lg) {
                justify-content: flex-end;
            }
        }

        @content;
    }
}

@include shop-ui-cashback();
