@mixin product-image-widget-image-gallery($name: '.image-gallery') {
    #{$name} {
        position: relative;

        &__container {
            position: relative;
            z-index: $setting-zi-element;
            background: $setting-color-white;
            display: none;

            &--single-image {
                display: block;
                height: rem(280);
            }

            @include helper-breakpoint-media-min($lg-min) {
                display: block;
                height: rem(480);
            }

            @include helper-breakpoint-media-min($xl-min) {
                height: rem(586);
            }
        }

        &__item {
            @include helper-effect-transition(opacity);
            position: absolute;
            left: 0;
            top: 0;
            height: rem(280);
            padding: rem(15) rem(16);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            z-index: $setting-zi-element - 1;
            background: $setting-color-white;
            border: rem(1) solid $setting-color-gray-3;
            border-radius: rem(10);

            &--active,
            &--color-active {
                opacity: 1;
            }

            @include helper-breakpoint-media-min($lg-min) {
                padding: rem(50) rem(40);
                height: rem(480);
            }

            @include helper-breakpoint-media-min($xl-min) {
                padding: rem(100) rem(70);
                height: rem(586);
            }
        }

        &__image {
            width: 100%;
            text-align: center;
            max-height: rem(250);

            @include helper-breakpoint-media-min($lg-min) {
                max-height: 100%;
            }
        }

        @content;
    }
}

@include product-image-widget-image-gallery();
