$product-item-list-border-radius: rem(10);

@mixin shop-ui-product-item-list($name: '.product-item-list') {
    #{$name} {
        @include helper-effect-transition(border-color);
        position: relative;
        overflow: hidden;
        color: $setting-color-black;
        border: rem(1) solid $setting-color-gray-2;
        border-radius: $product-item-list-border-radius;
        box-shadow: 0 4px 20px 0 $setting-color-alpha-2;

        &__col {
            padding: rem(10) rem(16) rem(25);
            position: relative;

            @include helper-breakpoint-media-min($md-min) {
                padding: rem(48) 0;
            }
        }

        &__col-name {
            @include helper-effect-transition(color);

            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }

        &__col-image {
            padding: rem(28) rem(17);
            position: relative;
            overflow: hidden;
        }

        &__col-price {
            color: $setting-color-main;

            &:hover {
                text-decoration: none;
                cursor: pointer;
            }

            @include helper-breakpoint-media-min($md-min) {
                padding-right: rem(38);
            }
        }

        &__labels-wrap {
            z-index: $setting-zi-element + 1;

            .label-group {
                left: 0;
                top: 0;
                bottom: auto;
                right: auto;
                padding: rem(8) rem(6);
            }
        }

        &--with-bottom-spaces {
            margin-bottom: map-get($setting-grid-gutter, sm) / 2;

            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: map-get($setting-grid-gutter, md) / 2;
            }
        }

        .no-touch &:hover {
            border-color: $setting-color-gray-4;

            #{$name}__col-name {
                color: $setting-color-main;
            }
        }

        @content;
    }
}

@include shop-ui-product-item-list();
