@mixin product-detail-page-product-benefit-price($name: '.product-benefit-price') {
    $benefit-voucher-main-color: #ff902e;

    #{$name} {
        &__title-text {
            font: fw(medium) rem(16) $setting-font-family;
        }

        &__benefit-price-amount {
            color: $setting-color-black;

            & > svg {
                padding-left: 0.1em;
                color: $benefit-voucher-main-color;
                fill: $benefit-voucher-main-color;
                margin-top: -0.2em;
                transform: scale(1.5);
            }

            font: fw(regular) rem(16) $setting-font-family;
        }

        &__vat {
            padding-left: 0.3em;
            font-weight: fw(regular);
            color: $setting-color-black;
        }

        &__plus {
            color: #ff902e;
            font: rem(16);
        }

        .money-price__second .money-price__amount  {
            font: rem(16);
        }


        &__low-price {
            font: fw(bold) rem(24) $setting-font-family;
        }

        .money-price--pdp {
            color: #ff902e;
        }

        .product-benefit-price__benefit-price-amount > span:nth-child(1) > span:nth-child(1) {
            text-decoration: line-through;
            font-size:rem(16);
        }

        .product-benefit-price__second > span:nth-child(1) > span:nth-child(1) {
            font-size:rem(16);
        }
        @content;
    }
}

@include product-detail-page-product-benefit-price();
