@mixin shop-ui-navigation-footer($name: '.navigation-footer') {
    #{$name} {
        border-bottom: rem(1) dotted $setting-color-gray-3;
        display: grid;
        gap: rem(1) rem(1);
        grid-template: 'legal information service' 'legal information propositions';

        @include helper-breakpoint-media-min($md-min) {
            border-bottom: none;
            margin: 0 rem(-15);
        }

        &__col {
            padding-bottom: rem(24);
            width: 100%;

            @include helper-breakpoint-media-min($md-min) {
                padding:  0 rem(15);
            }
        }

        &__legal {
            grid-area: legal;
        }

        &__information {
            grid-area: information;
        }

        &__service {
            grid-area: service;
        }

        &__propositions {
            grid-area: propositions;
        }

        @content;
    }
}

@include shop-ui-navigation-footer();
