@mixin shop-ui-gdpr-tag($name: '.gdpr-tag') {
    #{$name} {
        z-index: 10000;
        position: fixed;
        bottom: 0;
        left: 0;
        color: white;
        background-color: transparentize($setting-color-black, .05);
        align-items: center;

        a {
            color: $setting-color-white;
            text-decoration: underline;
        }

        &__message {
            padding: rem(16);
        }

        &__button {
            width: auto;
            margin-right: rem(16);
        }
    }
}

@include shop-ui-gdpr-tag()
