@mixin shop-ui-gdpr-tag($name: '.gdpr-tag') {
    #{$name} {
        &__content {
            z-index: $setting-zi-gdpr;
            position: fixed;
            bottom: 0;
            left: 0;
            color: $setting-color-white;
            background-color: rgba($setting-color-black, 0.9);
            width: 100%;
            padding: rem(16);
            flex-direction: column;
            align-items: flex-start;

            @include helper-breakpoint-media-min($lg-min) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__link {
            color: $setting-color-white;
            text-decoration: underline;
        }

        &__message {
            margin-bottom: rem(10);

            @include helper-breakpoint-media-min($lg-min) {
                margin-right: rem(15);
                margin-bottom: 0;
            }
        }

        &__button {
            @include helper-breakpoint-media-min($lg-min) {
                flex-shrink: 0;
            }
        }
    }
}

@include shop-ui-gdpr-tag()
