@mixin product-detail-page-product-affiliate($name: '.product-affiliate') {
    #{$name} {
        &__separator {
            border-bottom: rem(1) solid $setting-color-gray-3;
            margin: rem(35) 0;
        }

        &__button-wrap {
            max-width: rem(360);
            border-top: 0;
            padding: rem(40) 0 rem(10);

            @include helper-breakpoint-media-min($xl-min) {
                padding-top: rem(30);
            }
        }

        form {
            max-width: rem(360);
        }

        @content;
    }
}

@include product-detail-page-product-affiliate();
