@import '~SprykerEcoAdyen/components/molecules/adyen-credit-card/adyen-credit-card.scss';

@include adyen-credit-card($name: '.adyen-credit-card') {
    &__input {
        height: rem(48);
    }

    $adyen-name: '.adyen-checkout';

    img[src*="amex.svg"] {
        background-image: url('../images/logo-amex.svg') !important;
        background-repeat: no-repeat;
        overflow: hidden;
        width: 100%;
        height: 3em;
        padding: 0.5em;
        margin-left: 40.7em;
        left: 0em;
        margin-top: -1.3em;
        transform: scaleY(0.7);
    }

    #{$adyen-name}__input {
        padding: rem(16) rem(18) rem(14);
        border: rem(1) solid $setting-color-input-border;
        border-radius: rem(7);
        height: rem(48);

        iframe {
            margin: 0;
        }

        &:focus,
        &:hover,
        &--focus {
            border-color: $setting-color-main;
            box-shadow: none;
        }

        &--error {
            border-color: map-get($setting-color-actions, 'alert');
        }
    }

    #{$adyen-name}__label__text {
        font: fw(regular) rem(15) $setting-font-family;
        color: $setting-color-black;
    }

    #{$adyen-name}__label--focused {
        #{$adyen-name}__label__text {
            color: $setting-color-black;
        }
    }
}
