@mixin customer-page-title-box($name: '.title-box') {
    #{$name} {
        border-bottom: rem(1) dotted $setting-color-gray-3;
        border-left: rem(6) solid $setting-color-main;
        padding: rem(15) 0 rem(15) rem(15);
        margin: rem(15) 0;

        @content;
    }
}

@include customer-page-title-box();
