@mixin catalog-page-filter-category($name: '.filter-category') {
    #{$name} {
        &--sidebar {
            padding-bottom: rem(4);
        }

        &#{$name} {
            @include helper-breakpoint-media-min($xl-min) {
                display: block;
            }
        }

        #{$name}__item {
            margin: 0 0 0 rem(16);
            font: 400 rem(15) $setting-font-family;

            &--level-1 {
                margin: 0;
            }

            [disabled] {
                color: $setting-color-black;
            }
        }

        #{$name}__link {
            @include helper-effect-transition(color);
            font: fw(regular) rem(15)/rem(18) $setting-font-family;
            margin-bottom: rem(14);
            color: $setting-color-black;
            background: $setting-color-transparent;
            cursor: pointer;
            width: 100%;
            text-align: left;

            &:hover,
            &--active {
                color: $setting-color-main;
            }

            &[disabled],
            &--disabled {
                color: $setting-color-dark;
                cursor: default;
            }

            &__prefix {
                display: inline-block;
                padding: 3px;
                margin-right: 8px;

                &--arrow {
                    border: solid;
                    border-width: 0 3px 3px 0;

                    &--right {
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                    }

                    &--down {
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

@include catalog-page-filter-category;
