@mixin catalog-page-product-list($name: '.product-list') {
    .catalog-left-side {
        display: none;

        @include helper-breakpoint-media-min($lg-min) {
            display: block;
            padding: rem(40) rem(15) rem(35) 0;
        }

        @include helper-breakpoint-media-min($xl-min) {
            padding: rem(60) rem(20) rem(50) 0;
        }
    }

    .catalog-right-side {
        @include helper-breakpoint-media-min($lg-min) {
            padding-top: rem(40);
            padding-left: rem(15);
        }

        @include helper-breakpoint-media-min($xl-min) {
            padding-top: rem(60);
            padding-left: rem(20);
        }
    }

    .spelling-suggestion {
        padding-top: rem(30);
        width: 100%;
    }

    @include helper-breakpoint-media-max($md-max) {
        .show-filter {
            .catalog-left-side {
                display: block;
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: $setting-zi-navigation-top + 2;
                background-color: $setting-color-white;
            }
        }
    }
}

@include catalog-page-product-list();
