@mixin shop-ui-navigation-header($name: '.navigation-header') {
    #{$name} {
        padding: rem(16) 0;
        position: absolute;
        background-color: $setting-color-white;

        @content;
    }
}

@include shop-ui-navigation-header();
