{% extends model('component') %}

{% define config = {
    name: 'thumbnail-url',
} %}

{% block body %}
    <a class="{{ data.configName }}__overlay {{ data.parentJsName }}__link-detail-page" href="{{ data.url }}">
        {{ data.thumbnail }}
    </a>
{% endblock %}
