@mixin product-label-widget-flag($name: '.flag') {
    #{$name} {
        display: inline-block;
        padding: rem(1) rem(7);
        background: $setting-color-alpha-6;
        border-radius: rem(2);
        margin: 0 rem(8) rem(4) 0;

        @include helper-breakpoint-media-max($sm-max) {
            padding: rem(3) rem(8);
            font-size: rem(11);
        }

        &--highlight {
            background-color: $setting-color-main;
            border: rem(1) solid $setting-color-main;
            color: $setting-color-white;
        }

        &--alternative {
            background: $setting-color-transparent;
            border: rem(1) solid $setting-color-main;
            color: $setting-color-main;
            white-space: nowrap;
        }

        &--discontinued {
            background: $setting-color-transparent;
            border: rem(1) solid $setting-color-alt;
            color: $setting-color-alt;
        }

        &--sp_bv_deal {
            background: $setting-color-red-1;
            display: inline-block;
            position: absolute;
            color: #fff;
            font-size: 12px;
            font-family: CeraPro-Medium,sans-serif;
            border-radius: 5px;
            padding: 4px 6px;
            top: -11px;
            right: 25px;
            z-index: 1;
        }

        @content;
    }
}

@include product-label-widget-flag();
