@mixin shop-ui-pagination($name: '.pagination') {
    #{$name} {
        &__list {
            margin-bottom: rem(50);
        }

        &__item {
            display: inline-block;
            vertical-align: top;
        }

        &__step {
            @include helper-effect-transition(color background-color);
            margin: 0 rem(2);
            font: fw(regular) rem(16) $setting-font-family;
            color: $setting-color-black;

            &--previous,
            &--next,
            &--ellipsis {
                &:hover {
                    background-color: $setting-color-transparent;
                }
            }

            &:hover {
                text-decoration: none;
                background-color: $setting-color-alpha-1;
                color: $setting-color-black;
            }

            &--current {
                &,
                &:hover {
                    background-color: $setting-color-main;
                    color: $setting-color-white;
                }
            }

            &--disabled {
                display: none;
            }
        }

        @content;
    }
}

@include shop-ui-pagination();
