@mixin shop-ui-pagination($name: '.pagination') {
    #{$name} {
        &__list {
            margin-bottom: rem(50);
        }

        &__item {
            display: inline-block;
            vertical-align: top;
        }

        &__step {
            @include helper-effect-transition(color background-color);
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(28);
            height: rem(28);
            border-radius: rem(14);
            margin: 0 rem(2);
            font: fw(medium) rem(16) $setting-font-family;
            color: $setting-color-black;

            &:hover {
                text-decoration: none;
                background-color: $setting-color-alpha-1;
                color: $setting-color-black;
            }

            &--previous {
                margin-right: rem(10);
            }

            &--next {
                margin-left: rem(10);
            }

            &--previous,
            &--next,
            &--ellipsis {
                width: auto;

                &:hover {
                    background-color: $setting-color-transparent;
                }
            }

            &--current {
                &,
                &:hover {
                    background-color: $setting-color-main;
                    color: $setting-color-white;
                }
            }

            &--disabled {
                display: none;
            }
        }

        @content;
    }
}

@include shop-ui-pagination();
