@mixin shop-ui-product-slider-title ($name: '.product-slider-title') {
    #{$name} {
        margin-bottom: rem(20);

        &__title {
            font-weight: fw(bold);
            letter-spacing: rem(0.75);
        }

        @content;
    }
}

@include shop-ui-product-slider-title();
