{% extends model('component') %}

{% define config = {
    name: 'product-slider-title'
} %}

{% define data = {
    title: required,
    subText: '',
} %}

{% block body %}
    <h2 class="{{ config.name }}__title">{{ data.title | raw }}</h2>

    {% block subContent %}
        {% if data.subText is not empty %}
            {{ data.subText | raw }}
        {% endif %}
    {% endblock %}
{% endblock %}
