@mixin product-detail-page-bundle-option-list($name: '.bundle-option-list') {
    #{$name} {
        margin-bottom: rem(-20);

        &__item {
            padding-right: rem(8);
            margin-bottom: rem(8);
            line-height: 1.38;
            font-weight: fw(regular);
        }

        &__quantity {
            font-weight: bold;
        }
    }
}

@include product-detail-page-bundle-option-list();
