@mixin cart-checkout-breadcrumb($name: '.cart-checkout-breadcrumb') {
    #{$name} {
        &__wrap {
            text-align: center;
            padding-top: rem(56);

            @include helper-breakpoint-media-min($md-min) {
                padding-top: rem(20);
            }
        }

        &__progress-wrap {
            position: relative;
            min-width: 50%;

            @include helper-breakpoint-media-min($md-min) {
                min-width: 0;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                height: rem(5);
                background-color: $setting-color-gray-2;
                border-radius: $setting-border-radius;

                @include helper-breakpoint-media-min($md-min) {
                    display: none;
                }
            }
        }

        &__progress-mob {
            background-color: $setting-color-main;
            border-bottom-left-radius: $setting-border-radius;
            border-top-left-radius: $setting-border-radius;
            height: rem(5);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;

            @include helper-breakpoint-media-min($md-min) {
                display: none;
            }
        }
    }
}

@include cart-checkout-breadcrumb;
