@mixin product-label-widget-instead_of($name: '.instead-of') {
    #{$name} {

        background: $setting-color-red-1;
        display: inline-block;
        position: absolute;
        color: #fff;
        font-size: 12px;
        font-family: CeraPro-Medium,sans-serif;
        border-radius: 5px;
        padding: 4px 6px;
        top: -11px;
        right: 25px;
        z-index: 1;

        &-text {
            text-decoration: line-through;
        }

        @content;
    }
}

@include product-label-widget-instead_of();
