@mixin catalog-page-sort($name: '.sort') {
    #{$name} {
        margin-bottom: rem(25);

        &__content {
            @include helper-breakpoint-media-min($lg-min) {
                align-items: center;
            }
        }

        &__results {
            font: fw(regular) rem(16)/rem(24) $setting-font-family;
        }

        &__label {
            vertical-align: middle;
        }

        &__filter {
            display: flex;
            align-items: center;
            margin-top: rem(5);

            @include helper-breakpoint-media-min($lg-min) {
                margin-top: 0;
            }
        }

        @content;
    }
}

@include catalog-page-sort();
