@mixin catalog-page-sort($name: '.sort') {
    #{$name} {
        @include helper-breakpoint-media-min($lg-min) {
            margin-bottom: rem(25);
        }

        &__results {
            font: fw(regular) rem(16)/rem(24) $setting-font-family;
        }

        &__label {
            vertical-align: middle;
        }

        @content;
    }
}

@include catalog-page-sort();
