{% extends model('component') %}

{% define config = {
    name: 'offer-url',
} %}

{% block body %}
    <a class="link"
       href="{{ data.url }} "
       target="{% if data.targetBlank %}_blank  {% endif %}">
        {{ 'page.detail.affiliate-product-action' | trans }}
    </a>
{% endblock %}
