{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "content" -->

    <div class="container">
        <div class="container__inner">
            {% include molecule('product-slider-title') with {
                data: {
                    title: spyCmsBlockPlaceholder('title') | raw,
                    link: true,
                },
            } only %}

            <div class="grid">
                <div class="col col--sm-12">
                    {{ spyCmsBlockPlaceholder('content') | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
