@mixin product-detail-page-variant-resetter($name: '.variant-resetter') {
    #{$name} {
        &__button {
            cursor: pointer;
            background: $setting-color-transparent;

            &:hover {
                color: $setting-color-alpha-7;
            }
        }

        @content;
    }
}

@include product-detail-page-variant-resetter();
