@mixin wishlist-widget-wishlist-selector($name: '.wishlist-selector') {
    #{$name} {
        position: relative;

        .button {
            display: flex;
            font-weight: 400;
            padding: 0;

            svg {
                margin-right: rem(6);
                color: $setting-color-yellow;
            }
        }

        @content;
    }
}

@include wishlist-widget-wishlist-selector();
