@mixin shop-ui-breadcrumb-step($name: '.breadcrumb-step') {
    #{$name} {
        display: flex;
        font-size: rem(13);

        &__link {
            color: $setting-color-black;

            &:hover {
                text-decoration: none;
                color: $setting-color-alt;
            }
        }

        &__separator {
            width: rem(37);
            color: $setting-color-gray-3;
            position: relative;
        }

        &:not(:last-child) &__separator {
            &::before,
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                content: '';
                width: rem(1);
                height: rem(7);
                transform: translate(-50%, -50%) rotate(-38deg);
                border-radius: rem(0.5);
                background-color: $setting-color-gray-3;
                margin-top: rem(-2);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(38deg);
                margin-top: rem(3);
            }
        }

        &--active {
            @include helper-font-weight(bold);
            color: $setting-color-main;
        }

        &--disabled:not(&--active) {
            color: $setting-color-gray-4;

            &::after,
            &::before {
                background-color: $setting-color-gray-2;
            }
        }

        &--progress {
            padding: 0 rem(25) rem(25);
            text-align: center;
            position: relative;
            font: fw(medium) rem(15) $setting-font-family;
            display: none;

            @include helper-breakpoint-media-min($md-min) {
                display: flex;
                justify-content: center;
                flex-grow: 1;
            }

            &::before,
            &::after {
                @include helper-breakpoint-media-min($md-min) {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: rem(10);
                    background-color: $setting-color-main;
                }
            }

            &:first-child {
                &::after,
                &::before {
                    border-bottom-left-radius: $setting-border-radius;
                    border-top-left-radius: $setting-border-radius;
                }
            }

            &:last-child {
                &::after,
                &::before {
                    border-bottom-right-radius: $setting-border-radius;
                    border-top-right-radius: $setting-border-radius;
                }
            }

            &:not(#{$name}--progress-active) {
                &::after {
                    opacity: 0;
                }
            }

            &:not(#{$name}--disabled) {
                &::after {
                    width: 100%;
                }

                &:last-child {
                    &::before {
                        opacity: 0.4;
                    }

                    &::after {
                        width: 50%;
                    }
                }
            }

            #{$name}__link {
                color: $setting-color-black;
            }
        }

        &--progress-active {
            color: $setting-color-main;
            display: flex;
            font-weight: fw(bold);

            &::before,
            &::after {
                background-color: $setting-color-main;
            }

            &::before {
                opacity: 0.4;
            }

            &::after {
                width: 50%;
                opacity: 1;
            }
        }
    }
}

@include shop-ui-breadcrumb-step();
