@import '~ShopUi/styles/basic';

@import 'basics/reset';
@import 'basics/grid';
@import 'basics/typography';

@include basic-reset;
@include basic-typography;
@include basic-grid;
@include basic-animation;

a:hover {
    color: $setting-color-alpha-7!important;
}
.container--home-page{
    margin-top: -100px;
}

@media (min-width:1440px) {
    .container {
        margin: 0px auto 0px auto;
    }
}
