@import '../../atoms/select/select';

@mixin shop-ui-custom-select($name: '.custom-select') {
    @include shop-ui-select($name) {
        line-height: 0;

        &__select--hollow {
            @include helper-breakpoint-media-min($xl-min) {
                padding-bottom: 0;
                padding-top: 0;
            }
        }

        &__select--header {
            color: $setting-color-gray-3;
            padding-bottom: 0;
            padding-top: 0;
            border-top: rem(3);
            border-bottom: rem(3);
        }

        &__select--side-drawer {
            color: $setting-color-black;
        }

        .select2-container {
            border: rem(1) solid $setting-color-input-border;
            border-radius: $setting-border-radius;
            width: auto;

            &.select2-container--open {
                border-color: $setting-color-main;
            }
        }

        .select2-selection--single {
            padding: rem(16) rem(18) rem(14) rem(18);
            border: none;
            background: none;
            border-radius: 0;
            height: auto;

            .select2-selection__rendered {
                color: $setting-color-black;
                line-height: rem(16);
                min-height: rem(16);
                padding-left: 0;
                padding-right: rem(30);
                font-size: rem(15);
            }

            .select2-selection__arrow {
                display: none;
            }
        }

        &--hollow {
            .select2-selection {
                text-align: left;
            }

            .select2-selection--single {
                padding: rem(0) rem(10);
            }

            .select2-container {
                border: none;
            }
        }

        &--header {
            .select2-selection--single .select2-selection__rendered {
                color: $setting-color-gray-3;
            }

            #{$name}__caret {
                color: $setting-color-gray-3;
            }
        }

        &--side-drawer {
            .select2-selection--single .select2-selection__rendered {
                color: $setting-color-black;
            }

            #{$name}__caret {
                color: $setting-color-black;
            }
        }

        #{$name}__caret {
            right: rem(18.6);
        }
    }

    .select2-results__option {
        color: $setting-color-black;
        font-size: map-get($setting-font-size, small);
        font-weight: fw(regular);
        line-height: rem(26);
        min-height: rem(38);
        padding: rem(6) rem(18);
    }

    .select2-container {
        .select2-results {
            border-radius: $setting-border-radius;
            background-color: $setting-color-white;
            box-shadow: rem(10) rem(10) rem(26) 0 $setting-color-alpha-4, 0 0 rem(30) 0 $setting-color-alpha-4;
            position: relative;
            border: rem(1) solid $setting-color-gray-4;
        }

        .select2-results__options {
            max-height: rem(250);
            overflow-y: auto;
        }

        .select2-results__option--highlighted[aria-selected] {
            background: $setting-color-main;
            color: $setting-color-black;

            &:last-child {
                border-bottom-left-radius: $setting-border-radius;
                border-bottom-right-radius: $setting-border-radius;
            }

            &:first-child {
                border-top-left-radius: $setting-border-radius;
                border-top-right-radius: $setting-border-radius;
            }

        }

        .select2-results__option--highlighted[aria-selected='true'] {
            color: $setting-color-main;
        }

        .select2-results__option[aria-selected='true'] {
            background: none;
            color: $setting-color-main;
            position: relative;
        }

        &--secondary {
            .select2-results {
                width: calc(100% + #{rem(48)});
                transform: translateX(rem(-32));

                &__option[aria-selected='true']::before {
                    right: rem(23);
                }
            }

            .select2-dropdown--below {
                box-shadow: rem(10) rem(10) rem(26) 0 $setting-color-alpha-4, 0 0 rem(30) 0 $setting-color-alpha-4, 0 rem(-10) rem(30) 0 $setting-color-alpha-4;
            }
        }

        &--small {
            .select2-results__option {
                padding: rem(4) rem(10);
            }

            .select2-results__option[aria-selected='true'] {
                &::before {
                    right: rem(10);
                }
            }
        }

        &--open {
            .select2-dropdown {
                border: none;
                border-radius: 0;
                background: none;
                margin: rem(12) 0;
                text-align: left;
                z-index: $setting-zi-select;

                &--header {
                    z-index: $setting-zi-header + 2;
                }
            }

            .select2-dropdown--below {
                margin-top: rem(1);
            }

            .select2-dropdown--above {
                margin-top: rem(-6);

                &::before {
                    bottom: auto;
                    top: 100%;
                    border-bottom-color: $setting-color-transparent;
                    border-top-color: $setting-color-white;
                }
            }
        }
    }
}

@include shop-ui-custom-select();
