@mixin product-detail-page-product-shopping-points-price($name: '.product-shopping-points-price') {
    $shopping-points-icon-color: #5cb885;
    $shopping-points-text-color: #5cb85c;

    #{$name} {
        &__title-text {
            font: fw(medium) rem(16) $setting-font-family;
        }

        &__benefit {
            font: rem(16) $setting-font-family;
            color: $setting-color-black;
        }

        &__benefit-amount {
            font: rem(16) $setting-font-family;
            color: $shopping-points-text-color;

            & > svg {
                padding-left: 0.1em;
                fill: $shopping-points-icon-color;
                margin-top: -0.3em;
                transform: scale(1.5);
            }
        }

        &__benefit-price-amount {
            color: $shopping-points-text-color;
            font: fw(bold) rem(24) $setting-font-family;
        }

        &__vat {
            font-weight: fw(regular);
            color: $setting-color-black;
        }

        .money-price--strikethrough-shopping > span:nth-child(1) {
            font: rem(16) $setting-font-family;
        }

        @content;
    }
}

@include product-detail-page-product-shopping-points-price();
