@mixin shop-ui-suggest-search($name: '.suggest-search') {
    #{$name} {
        position: absolute;
        top: rem(45);
        width: 100%;

        &__container {
            background-color: $setting-color-white;
            border: rem(1) solid $setting-color-gray-2;
            padding: rem(15);
            border-radius: rem(10);
        }

        &__input {
            @include helper-effect-transition(background-color);
            width: 100%;
            padding: rem(13) rem(45) rem(13) rem(18);
            border-radius: rem(21);
            background-color: $setting-color-gray-2;
            border: rem(1) solid $setting-color-gray-2;
            font: fw(regular) rem(14) $setting-font-family;

            &:focus {
                background-color: $setting-color-transparent;
            }

            &::-ms-clear {
                display: none;
            }

            &--transparent {
                background-color: $setting-color-transparent;
            }
        }

        &__hint {
            position: absolute;
            top: 0;
            width: 100%;
            padding: rem(13) rem(45) rem(13) rem(18);
            border-radius: rem(21);
            font: fw(regular) rem(14) $setting-font-family;
            background-color: $setting-color-white;
            border: rem(1) solid $setting-color-transparent;
            color: $setting-color-alpha-3;
            z-index: $setting-zi-underside;
        }

        &__loader {
            top: rem(-43);
            left: calc(50% - #{rem(20)});
            right: auto;
            bottom: auto;
        }

        @content;
    }
}

@include shop-ui-suggest-search();
