@mixin shop-ui-suggest-search($name: '.suggest-search') {
    #{$name} {
        position: absolute;
        top: rem(53);
        width: 100%;

        @include helper-breakpoint-media-min($lg-min) {
            top: rem(45);
        }

        &__container {
            background-color: $setting-color-white;
            border-top: rem(1) solid $setting-color-gray-2;
            padding: rem(15);
            margin: 0 rem(-15);
            border-bottom-left-radius: rem(10);
            border-bottom-right-radius: rem(10);

            @include helper-breakpoint-media-min($lg-min) {
                border-top-left-radius: rem(10);
                border-top-right-radius: rem(10);
                margin: 0;
                border: rem(1) solid $setting-color-gray-2;
                max-height: rem(450);
                overflow-y: auto;
            }
        }

        &__item {
            &--active {
                text-decoration: underline;
            }
        }

        &__input {
            @include helper-effect-transition(background-color);
            width: 100%;
            padding: rem(13) rem(45) rem(13) rem(18);
            border-radius: rem(21);
            background-color: $setting-color-gray-2;
            border: rem(1) solid $setting-color-gray-2;
            font: fw(regular) rem(14) $setting-font-family;

            &:focus {
                background-color: $setting-color-transparent;
            }

            &::-ms-clear {
                display: none;
            }
        }

        &__hint {
            position: absolute;
            top: 0;
            width: 100%;
            padding: rem(13) rem(45) rem(13) rem(18);
            border-radius: rem(21);
            font: fw(regular) rem(14) $setting-font-family;
            background-color: $setting-color-white;
            border: rem(1) solid $setting-color-transparent;
            color: $setting-color-alpha-3;
            z-index: $setting-zi-underside;
        }

        &__loader {
            top: rem(-51);
            left: calc(50% - #{rem(20)});
            right: auto;
            bottom: auto;

            @include helper-breakpoint-media-min($md-min) {
                left: 40%;
            }

            @include helper-breakpoint-media-min($lg-min) {
                top: rem(-43);
                left: calc(50% - #{rem(20)});
            }
        }

        @content;
    }
}

@include shop-ui-suggest-search();
