$font-cera-pro-url: '../fonts/';
$font-cera-pro-thin: '#{$font-cera-pro-url}TypeMates_CeraPRO-Thin';
$font-cera-pro-thin-italic: '#{$font-cera-pro-url}TypeMates_CeraPRO-Light-Italic';
$font-cera-pro-light: '#{$font-cera-pro-url}TypeMates_CeraPRO-Light';
$font-cera-pro-light-italic: '#{$font-cera-pro-url}TypeMates_CeraPRO-Italic';
$font-cera-pro-regular: '#{$font-cera-pro-url}TypeMates_CeraPRO-Regular';
$font-cera-pro-regular-italic: '#{$font-cera-pro-url}TypeMates_CeraPRO-Italic';
$font-cera-pro-medium: '#{$font-cera-pro-url}TypeMates_CeraPRO-Medium';
$font-cera-pro-medium-italic: '#{$font-cera-pro-url}TypeMates_CeraPRO-Medium-Italic';
$font-cera-pro-bold: '#{$font-cera-pro-url}TypeMates_CeraPRO-Bold';
$font-cera-pro-bold-italic: '#{$font-cera-pro-url}TypeMates_CeraPRO-Bold-Italic';
$font-cera-pro-black: '#{$font-cera-pro-url}TypeMates_CeraPRO-Black';
$font-cera-pro-black-italic: '#{$font-cera-pro-url}TypeMates_CeraPRO-Black-Italic';

@mixin basic-typography() {
    @include font-face(Cera PRO, $font-cera-pro-thin, 200, normal);
    @include font-face(Cera PRO, $font-cera-pro-thin-italic, 200, italic);
    @include font-face(Cera PRO, $font-cera-pro-light, 300, normal);
    @include font-face(Cera PRO, $font-cera-pro-light-italic, 300, italic);
    @include font-face(Cera PRO, $font-cera-pro-regular, 400, normal);
    @include font-face(Cera PRO, $font-cera-pro-regular-italic, 400, italic);
    @include font-face(Cera PRO, $font-cera-pro-medium, 500, normal);
    @include font-face(Cera PRO, $font-cera-pro-medium-italic, 500, italic);
    @include font-face(Cera PRO, $font-cera-pro-bold, 700, normal);
    @include font-face(Cera PRO, $font-cera-pro-bold-italic, 700, italic);
    @include font-face(Cera PRO, $font-cera-pro-black, 800, normal);
    @include font-face(Cera PRO, $font-cera-pro-black-italic, 800, italic);

    html {
        font-size: 100%;
    }

    body {
        @include helper-font-size(default);
        @include helper-font-weight(regular);
        @include helper-font-line-height(default);
        position: relative;
        background-color: $setting-color-white;
        color: $setting-color-text;
        font-family: $setting-font-family;
    }

    @each $i in (1, 2, 3, 4, 5, 6) {
        h#{$i} {
            @include helper-heading($i);
        }
    }

    a {
        color: $setting-color-text;
        text-decoration: none;

        &:hover {
            color: $setting-color-alt;
            text-decoration: underline;
        }
    }

    b,
    strong {
        @include helper-font-weight(bold);
    }

    i,
    em,
    cite {
        font-style: italic;
    }

    hr {
        @include helper-ui-clearfix;
        border-bottom: none;
        margin: rem(8) 0;
    }

    small {
        @include helper-font-size(small);
    }

    big {
        @include helper-font-size(big);
    }

    p,
    blockquote,
    iframe {
        margin: rem(8) 0;
    }

    iframe {
        max-width: 100%;
    }
}
