.table__group-action {

    form {
        display: inline-block;

        .table__group-action--form-widget {
            display: inline-block;

            .form-group {
                display: inline-block;
                margin-left: 10px;

                .radio input[type="radio"],
                .radio-inline input[type="radio"],
                .checkbox input[type="checkbox"],
                .checkbox-inline input[type="checkbox"] {
                    margin-left: -17px;
                }

                label {
                    font-weight: 600;
                }
            }
        }

        input[type="submit"] {
            display: inline-block;
            margin-left: 5px;
            font-weight: 600;
        }
    }
}
