@mixin checkout-page-error($name: '.error-page') {
    #{$name} {
        margin: auto;
        max-width: 600px;
        border-radius: rem(20);
        border: 1px solid $setting-color-alpha-2;
        display: flex;

        &__image-wrapper {
            margin-left: rem(-40);
            margin-right: rem(20);
            top: rem(60);
            flex: 0 0 auto;
            width: 260px;
            height: 320px;
            position: relative;
            display: none;

            @include helper-breakpoint-media-min($md-min) {
                display: block;
            }
        }

        &__image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(12);
            box-shadow: 0 rem(18) rem(36) 0 $setting-color-alpha-2;
        }

        &__subtitle {
            margin-bottom: rem(40);
        }

        &__content {
            padding: rem(40) rem(20);
            flex: 1 1 auto;
        }

        &__errors-container {
            margin-bottom: rem(40);
        }

        &__text {
            margin-bottom: rem(40);
        }

        @content;
    }
}

@include checkout-page-error();
