$sm-min: 0;
$sm-max: 599px;
$md-min: 600px;
$md-max: 959px;
$lg-min: 960px;
$lg-max: 1439px;
$xl-min: 1440px;
$xl-max: 1659px;
$xxl-min: 1660px;

$setting-breakpoints: (
    sm: ($sm-min, $sm-max),
    md: ($md-min, $md-max),
    lg: ($lg-min, $lg-max),
    xl: ($xl-min)
);
