$setting-color-cashback: #5cb885;
$setting-color-travel: #40b5a8;
$setting-color-lyconet: #f29533;

$setting-color-yellow: #e5b500;

$setting-color-gray-1: #f5f5f5;
$setting-color-gray-2: #eee;
$setting-color-gray-3: #ddd;
$setting-color-gray-4: #b6b6b6;
$setting-color-gray-5: #909090;
$setting-color-black: #333;

$setting-color-green-1: #005551;
$setting-color-green-2: #002f2d;

$setting-color-main: #f0be00;
$setting-color-alt: $setting-color-yellow;
$setting-color-text: $setting-color-black;
$setting-color-input-border: $setting-color-gray-4;
$setting-color-input-border-focus: $setting-color-main;
$setting-color-input-border-disabled: $setting-color-gray-3;
$setting-color-input-background: $setting-color-white;
$setting-color-input-background-error: #fbeded;

$setting-color-alpha-1: rgba($setting-color-main, 0.3);
$setting-color-alpha-2: rgba($setting-color-black, 0.15);
// Old alpha colors, should be replaced or removed in the end of redesign
$setting-color-alpha-3: rgba($setting-color-black, 0.5);
$setting-color-alpha-4: rgba($setting-color-main, 0.1);
$setting-color-alpha-5: rgba($setting-color-black, 0.4);
$setting-color-alpha-6: rgba($setting-color-gray-3, 0.5);
$setting-color-alpha-7: rgba($setting-color-gray-3, 0.75);
$setting-color-alpha-8: rgba($setting-color-black, 0.24);

$setting-color-actions: (
    warning: #f0be01,
    success: #5cb886,
    alert: #d54c4c,
);

$setting-color-statuses: (
    scheme-1-text: #00b2b5,
    scheme-1-backgound: #e9f7f7,
    scheme-2-text: #b7b1a5,
    scheme-2-backgound: #f0ede6,
    scheme-3-text: $setting-color-gray-4,
    scheme-3-backgound: $setting-color-gray-2,
    scheme-4-text: #ff2a54,
    scheme-4-backgound: #f6dee0,
    scheme-5-text: #000,
    scheme-5-backgound: $setting-color-gray-1,
);
