/* stylelint-disable value-keyword-case */
$setting-font-family: 'Cera Pro', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$setting-font-family-code: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
/* stylelint-enable */
$setting-font-size-base: 16px;

$setting-font-size: (
    1: rem(42, number),
    2: rem(30, number),
    3: rem(24, number),
    4: rem(20, number),
    5: rem(18, number),
    6: rem(16, number),
    big: rem(20),
    default: rem(16),
    small: rem(14),
    micro: rem(12)
);

$setting-font-weight: (
    thin: 200,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 800
);

$setting-font-line-height: (
    1: 1.1,
    2: 1.2,
    3: 1.4,
    4: 1.4,
    5: 1.4,
    6: 1.4,
    default: 1.5,
    tight: 1.1
);
