$setting-grid-columns: (
    sm: 4,
    md: 8,
    lg: 12,
    xl: 12
);

$setting-col-width: (
    sm: 100%,
    md: 65px,
    lg: 86px,
    xl: 110px,
);

$setting-grid-gutter: (
    sm: 16,
    md: 24,
    lg: 24,
    xl: 24
);

$setting-grid-gutter-total-width-desktop: map-get($setting-grid-gutter, xl) * (map-get($setting-grid-columns, xl) - 1);

$settings-max-width: (
    sm: 100%,
    md: nth(map-get($setting-breakpoints, md), 2),
    lg: (map-get($setting-grid-columns, lg) * map-get($setting-col-width, lg)) + $setting-grid-gutter-total-width-desktop,
    xl: (map-get($setting-grid-columns, xl) * map-get($setting-col-width, xl)) + $setting-grid-gutter-total-width-desktop
);
