@mixin customer-page-order-detail-header($name: '.order-detail-header') {
    #{$name} {
        list-style: none;
        margin-bottom: rem(20);
        padding-bottom: rem(5);
        border-bottom: rem(1) dotted $setting-color-gray-3;

        &__item {
            margin-bottom: rem(15);
        }

        &__name {
            font: fw(bold) rem(15) $setting-font-family;
            padding-right: rem(10);
            min-width: rem(120);
            display: inline-block;
        }

        &__text {
            font-weight: fw(light);
        }

        @content;
    }
}

@include customer-page-order-detail-header();
