{% extends template('page-layout-main') %}

{% define data = {
    title: required,
    message: required,
    errors: _view.errors | default([])
} %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% endblock %}

{% block container %}
    <div class="page-layout-order-submitted">
        {% if data.errors is empty %}
            {% include organism('success-page', 'CheckoutPage') with {
                data: {
                    title: data.title,
                    message: data.message,
                },
            } only %}
        {% else %}
            {% include organism('error-page', 'CheckoutPage') with {
                data: {
                    title: data.title,
                    message: data.message,
                    errors: data.errors
                },
            } only %}
        {% endif %}
    </div>
{% endblock %}
