{% extends template('page-layout-main') %}

{% define data = {
    title: required,
    message: required
} %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% endblock %}
  
{% block container %}
    <div class="page-layout-order-submitted">
        {% include organism('success-page', 'CheckoutPage') with {
            data: {
                title: data.title,
                message: data.message,
            },
        } only %}
    </div>
{% endblock %}
