@mixin shop-ui-jumbotron-slider($name: '.jumbotron-slider') {
    #{$name} {
        margin-bottom: rem(50);

        .slick-dots {
            bottom: rem(-25);

            @include helper-breakpoint-media-min($lg-min) {
                bottom: rem(35);
            }

            @include helper-breakpoint-media-min($xl-min) {
                bottom: rem(70);
            }
        }
    }
}

@include shop-ui-jumbotron-slider();
