{% extends template('widget') %}

{% define data = {
    products: []
} %}

{% block body %}
    {% if data.products is not empty %}
        <div class="spacing-y spacing-y--biggest">
            {% include molecule('extra-product', 'ProductRelationWidget') with {
                data: {
                    title: 'page.product.upsell-products' | trans,
                    products: data.products
                }
            } only %}
        </div>
    {% endif %}
{% endblock %}


