@mixin shop-ui-footer($name: '.footer') {
    #{$name} {
        $footer-subscription-width: rem(202);
        margin-bottom: 0;
        margin-top: auto;

        &__top {
            display: flex;
            flex-direction: column;
            padding: rem(20) rem(15);
            border-top: rem(1) solid $setting-color-gray-3;

            @include helper-breakpoint-media-min($xl-min) {
                padding-left: rem(40);
                padding-right: rem(40);
            }
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            padding: rem(20) rem(15);

            @include helper-breakpoint-media-min($md-min) {
                border-top: rem(1) solid $setting-color-gray-3;
            }

            @include helper-breakpoint-media-min($lg-min) {
                flex-direction: row;
                justify-content: space-between;
            }

            @include helper-breakpoint-media-min($xl-min) {
                padding-left: rem(40);
                padding-right: rem(40);
            }
        }

        &__bottom-col {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: rem(30);

            @include helper-breakpoint-media-min($lg-min) {
                margin-bottom: 0;
            }
        }

        &__social-link {
            @include helper-effect-transition(color);
            margin: 0 rem(8);

            @include helper-breakpoint-media-min($lg-min) {
                margin-right: rem(16);
                margin-left: 0;
            }

            &:first-of-type {
                @include helper-breakpoint-media-min($lg-min) {
                    margin-left: rem(4);
                }
            }
        }

        &__navigation {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            @include helper-breakpoint-media-min($xl-min) {
                max-width: calc(100% - #{$footer-subscription-width});
                padding-left: 9%;
            }
        }
    }
}

@include shop-ui-footer();
