{% extends model('component') %}

{% define config = {
    name: 'suggestion-url',
} %}

{% block body %}
    <a class="container grid grid--middle link link--without-underline link--darkest js-suggest-search__item--navigable js-suggest-search__product-item--navigable"
       href="{{ data.url }}" target="{% if data.targetBlank %}_blank  {% endif %}">
        <span class="col">
            {% if data.image %}
                {% set imageClasses = '' %}
                {% block image %}
                    {% set imageClasses = '' %}
                    {% set imageModifiers = ['thumbnail', 'with-overlay', 'catalog'] %}

                    {% include molecule('lazy-image') with {
                        class: imageClasses,
                        modifiers: imageModifiers,
                        data: {
                            imageSrc: data.image.external_url_small,
                            imagePlaceholder: data.image.external_url_small,
                            imageTitle: data.alt,
                        },
                        extraAttributes: data.title ? {
                            title: data.title,
                        } : {},
                    } only %}
                {% endblock %}
            {% endif %}
       </span>

        <span class="col col--sm-9 title title--medium">
            <div class="spacing-bottom">{{- data.title -}}</div>
            {% if can('SeePricePermissionPlugin') %}
                {% include molecule('money-price') with {
                    modifiers: ['suggestion-product'],
                    data: {
                        amount: data.price,
                        originalAmount: data.originalPrice ?? null,
                    },
                } only %}
            {% else %}
                {{ 'customer.access.cannot_see_price' | trans }}
            {% endif %}
       </span>
    </a>
{% endblock %}
