@mixin card-code-widget-cart-code-form($name: '.cart-code-form') {
    #{$name} {
        &--checkout {
            margin: rem(18) 0;
            border-top: rem(1) dotted $setting-color-gray-3;
            border-bottom: rem(1) dotted $setting-color-gray-3;
        }

        .label {
            display: none;
        }
    }
}

@include card-code-widget-cart-code-form();
