@mixin shop-ui-product-quantity-input($name: '.product-quantity-input') {
    #{$name} {
        &__label {
            font: fw(medium) rem(16) $setting-font-family;
            color:  $setting-color-gray-5;
            margin-right: rem(16);
        }
    }
}

@include shop-ui-product-quantity-input();
