{% extends model('component') %}

{% define config = {
    name: 'search-form-desktop'
} %}

{% define data = {
    searchValue: app.request.get('q')
} %}

{% define attributes = {
    'data-search-id': required
} %}

{% block body %}
    <div class="{{ config.name }}__input js-suggest-search__show">
        <input name="q" value="{{data.searchValue}}" type="text" class="{{ config.name }}__field" placeholder="{{ 'global.search' | trans }}" autocomplete="off">

        {% include atom('icon') with {
            class: config.name ~ "__icon",
            modifiers: ['bigger'],
            data: {
                name: 'search',
            },
        } only %}
    </div>
{% endblock %}
